html * {
  font-family: "Montserrat", sans-serif;
  color: #fff;
}
body {
  margin: 0;
  /*background-color: #1f2433;*/
  background-color: #1e2532;
  padding: 20px;
}
::placeholder {
  color: #fff;
  opacity: 1;
}
::-ms-input-placeholder {
  color: #fff;
}
button:hover {
  cursor: pointer;
}
a {
  text-decoration: none;
}
p,
h4 {
  margin: 0;
}
ul {
  list-style: none;
  padding-left: 0;
}

.general-ricochet-wraper {
  margin: 0 auto;
  width: 100%;
  position: relative;
}

.ricochet-header {
  background: #6080a8;
  box-shadow: 5px 4px 31px rgba(0, 0, 0, 0.21);
  border-radius: 16px;
  width: calc(100% - 40px);
  position: fixed;
  z-index: 9999;
}

header {
  padding: 10px 46px 10px 50px;
}

.desktop-header-menu {
  display: none;
}

.in-header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-header-side img {
  width: 95px;
  margin-top: 2px;
}

.desktop-header-menu ul {
  display: flex;
  align-items: center;
}

.desktop-header-menu ul li {
  margin-right: 50px;
}

.desktop-header-menu ul li:last-child {
  margin-right: 0;
}

.desktop-header-menu ul li a {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #fff;
}

.mobile-header-menu {
  position: relative;
}

.mobile-menu-list {
  background-color: #6785ab;
  padding: 20px;
  border: 1px solid #6080a8;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 99;
  border-radius: 16px;
  width: 50%;
}

.mobile-menu-list ul {
  padding-top: 40px;
}

.mobile-menu-list ul li {
  margin-bottom: 36px;
}

.mobile-menu-list ul li:last-child {
  margin-bottom: 0;
}

.mobile-menu-list ul li a {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #fff;
}

.close-menu-btn {
  float: right;
  cursor: pointer;
}

.close-menu-btn img {
  width: 32px;
}

.launch-link-home {
  text-decoration: none;
}
.launch-link-home div {
  background: #6080a8;
  border-radius: 16px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.5px;
  text-align: center;
  padding: 10px;
  color: #fff;
  width: 28%;
}

.home-part-with-title-g h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 70px;
  line-height: 80px;
  color: #fff;
  margin-bottom: 12px;
}

.home-part-with-title-g p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  padding-bottom: 24px;
}

body .showMenu {
  display: block !important;
}

.section-after-header {
  width: 960px;
  margin: 0 auto;
  padding-top: 125px;
}

.top-in-section-header-wraper {
  display: flex;
}

.social-list {
  padding-top: 10px;
}

.social-list ul {
  display: flex;
}

.social-list li {
  border: 1px solid #fff;
  border-radius: 50%;
  text-align: center;
  width: 32px;
  height: 32px;
  margin-right: 16px;
}

.social-list li img {
  margin-top: 7px;
}

.put-power-title p {
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 60px;
  text-align: center;
}

.top-stats-block {
  display: grid;
}

.how-it-works-title p {
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 60px;
  text-align: center;
  color: #ffffff;
}

.stat-info-p {
  border: 0.405405px solid #ffffff7a;
  box-sizing: border-box;
  border-radius: 12.973px;
  padding: 8px;
}

.stat-info-title {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  padding-bottom: 5px;
  border-bottom: 0.405405px solid #ffffff7a;
}

.stat-info-out {
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 56px;
  text-align: center;
  color: #ffffff;
}

.put-power-title {
  padding-top: 80px;
}

.stat-info-p {
  margin-right: 30px;
  flex: 1;
}

.stat-info-p:last-child {
  margin-right: 0;
}

.put-power-info-list-wraper {
  display: flex;
  padding-top: 60px;
  padding-bottom: 96px;
}

.put-power-list {
  flex: 1;
  padding: 28px 16px 48px;
  text-align: center;
  border: 0.405405px solid #ffffff7a;
  box-sizing: border-box;
  border-radius: 12.973px;
  margin-right: 30px;
}

.put-power-list p {
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 32px;
  text-align: center;
  color: #ffffff;
}

.put-power-list span {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.25px;
  color: #dfdfdfdf;
}

.put-power-list:last-child {
  margin-right: 0;
}

.put-power-header {
  padding-bottom: 10px;
}

.home-part-with-image-g img {
  width: 100%;
}

.social-list li:last-child {
  margin-right: 0;
}

.how-it-works-card {
  background: #6080a8;
  box-shadow: 5px 4px 31px rgba(0, 0, 0, 0.21);
  border-radius: 16px;
  margin-bottom: 24px;
}

.how-it-works-card:nth-child(3) {
  margin-bottom: 0;
}

.launch-to-invest-wrapper {
  margin-top: 76px;
  background: #6080a8;
  box-shadow: 5px 4px 31px rgba(0, 0, 0, 0.21);
  border-radius: 16px;
  margin-bottom: 16px;
  text-align: center;
  padding: 50px;
}

.how-it-works-title {
  padding-bottom: 28px;
}

.how-works-card-text-cut {
  /*width: 48%;*/
}

.how-works-card-text-cut p {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 6px;
}

.how-works-card-text-cut span {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #dfdfdf;
}

.how-it-works-card:last-child {
  margin-bottom: 0;
}

.in-how-it-works-card {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}

.image-in-how-works {
  text-align: center;
}

.image-in-how-works img {
  max-width: 488px;
}

.in-how-flex {
  flex: 1;
}

.content-in-how-works img {
  margin-bottom: 12px;
}

.launch-to-invest-title {
  padding-bottom: 30px;
}

.launch-to-invest-title p {
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 1.5;
  text-align: center;
  color: #ffffff;
}

.launch-link-card-btn {
  text-align: center;
}

.launch-link-card-btn a {
  background: #ffffff;
  border-radius: 16px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: -0.5px;
  color: #6080a8;
  padding: 10px 50px;
}

.launch-to-invest-tutorial {
  padding-top: 40px;
}

.launch-to-invest-tutorial a {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0.25px;
  text-decoration-line: underline;
  color: #ffffff;
}

.collaboration-title {
  text-align: center;
}

.collaboration-title p {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
}

.collaboration-flex {
  display: flex;
}

.collaboration-in-flex {
  flex: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.collaboration-in-flex img {
  width: 100%;
  max-width: 260px;
  display: flex;
  flex-direction: column;
  min-width: 150px;
}

.collaboration-in-flex p {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 1;
  text-align: center;
  color: #ffffff;
  margin-top: 10px;
}

.ricochet-footer {
  background: #6080a8;
  border-radius: 16px;
  width: 100%;
  padding-top: 70px;
  padding-bottom: 20px;
  margin-top: 90px;
}

.bottom-social-foot ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}

.bottom-social-foot ul li {
  border: 1px solid #fff;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  text-align: center;
  margin-right: 12px;
}

.bottom-social-foot ul li:last-child {
  margin-right: 0;
}

.bottom-social-foot ul li img {
  margin-top: 6px;
}

body ul .first-3-social-blocks img {
  margin-top: 9px;
}

.collaboration-title {
  padding-bottom: 20px;
  padding-top: 50px;
}

.in-footer-content {
  display: flex;
  justify-content: space-between;
}

.logo-and-content-footer {
  display: flex;
}

.in-right-footer-flex {
  display: flex;
}

.content-footer-around-logo {
  padding-left: 16px;
}

/* .logo-footer img {
  margin-top: -10px;
} */

.foot-lists-title p {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: #ffffff;
}

.in-right-foot-flex-lists ul {
  margin-top: 10px;
  margin-bottom: 0;
}

.support-block-foot {
  padding-right: 80px;
}

.in-right-foot-flex-lists ul li {
  margin-bottom: 10px;
}

.in-right-foot-flex-lists ul li a {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  color: #dfdfdf;
}

.logo-title {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  color: #ffffff;
  padding-bottom: 8px;
}

.after-foot-logo-title-text {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  color: #ffffff;
  padding-bottom: 5px;
}

.content-footer-around-logo a {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  text-align: center;
  color: #dfdfdf;
}

.bottom-social-foot {
  padding-top: 100px;
}

.ricochet-header-divider {
  position: fixed;
  top: 0;
  height: 40px;
  width: 100%;
  /*background-color: #1f2433;*/
  background-color: #1e2532;
  z-index: 9999;
}

.in-put-power-list-block img {
  width: 75%;
}

.streaming-img {
  padding: 74px 0;
}

.responsible-img {
  padding-bottom: 31px;
}

.mobile-visible {
  display: none;
}

@media screen and (min-width: 991px) {
  .desktop-header-menu {
    display: block;
  }

  .mobile-header-menu {
    display: none;
  }

  .top-stats-block {
    display: flex;
    margin-top: 50px;
  }
  .content-in-how-works {
    padding-top: 120px;
    padding-bottom: 120px;
    max-width: 480px;
  }

  .collaboration-in-flex {
    flex: 0.3;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .collaboration-flex {
    justify-content: center;
  }

  .collaboration-flex img {
    width: 150px;
  }

  .collaboration-title p {
    font-size: 42px;
  }

  .power-by-title {
    padding-top: 80px;
  }

  .collaboration-title {
    padding-bottom: 30px;
  }
}

.burder-menu-btn {
  cursor: pointer;
}

.before-footer-section,
.section-how-it-works {
  max-width: 1392px;
  margin: 0 auto;
}

@media screen and (max-width: 991px) {
  body header {
    padding: 10px;
  }

  .mobile-visible {
    display: block;
    width: 100%;
  }

  .mobile-hidden {
    display: none !important;
  }

  .top-in-section-header-wraper {
    display: grid;
  }

  .put-power-info-list-wraper {
    display: grid;
  }

  .section-after-header {
    width: 100%;
  }

  .stat-info-p {
    margin-bottom: 16px;
    margin-right: 0;
  }

  .stat-info-p:last-child {
    margin-bottom: 0;
  }

  .put-power-list {
    margin-right: 0;
    margin-bottom: 16px;
  }

  .put-power-list:last-child {
    margin-bottom: 0;
  }

  .launch-link-home div {
    margin: 0 auto;
    width: 40%;
  }

  .home-part-with-title-g {
    text-align: center;
    order: 1;
  }

  .social-list ul {
    justify-content: center;
  }

  .home-part-with-title-g h1 {
    font-size: 36px;
    line-height: 1;
  }

  .home-part-with-title-g p {
    font-weight: 300;
  }

  .home-part-with-image-g {
    order: 0;
  }

  .put-power-title p,
  .how-it-works-title p {
    font-size: 24px;
    line-height: 1.5;
  }

  .in-how-it-works-card {
    display: grid;
  }

  .image-in-how-works img {
    width: 100%;
  }

  .content-in-how-works {
    order: 0;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .image-in-how-works {
    order: 1;
  }

  .how-works-card-text-cut {
    width: 100%;
    text-align: center;
  }

  .launch-to-invest-title p {
    font-size: 24px;
  }

  .collaboration-flex {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .collaboration-in-flex p {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: #ffffff;
  }

  .collaboration-title {
    padding-bottom: 20px;
    padding-top: 50px;
  }

  footer {
    width: 100%;
  }

  .content-footer-around-logo {
    padding-left: 0;
    padding-bottom: 30px;
  }

  .in-footer-content {
    display: grid;
    width: 100%;
    justify-content: inherit;
    text-align: center;
  }

  .bottom-social-foot {
    padding-top: 50px;
  }

  .logo-and-content-footer {
    display: grid;
  }

  .in-right-footer-flex {
    display: grid;
  }

  .support-block-foot {
    padding-right: 0;
    padding-bottom: 30px;
  }

  .in-right-foot-flex-lists ul li,
  .foot-lists-title {
    padding-bottom: 10px;
  }
}

@media screen and (min-width: 1240px) {
  footer {
    width: 1024px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1440px) {
  header .desktop-header-menu ul li {
    margin-right: 110px;
  }
}
